// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

// variables
$dark-gray: #292929
$gray: #7f8285
$gray-sel-list: #cbcbcb
$gray-sel-selected: #bababa
$light-gray: #a2a5a8
$green: #2d802d
$light-green: #299c00
$turquoise: #94f691

$bg-input: #4f4f50
$bg-topic: #4c5258
$gray-out: #454343
$green-menu: #4ca542
$active-it-menu: #009b35
$green-score: #006400

$color-green: #26a023
$color-yellow: #ffff00
$color-orange: #de9114

=grad
	+g($dark-gray, $light-gray)

// icons
.ico
	display: inline-block
	&.ico_soccer
		+s(soccer)
	&.ico_basketball
		+s(basketball)
	&.ico_ice-hockey
		+s(ice-hockey)
	&.ico_tennis
		+s(tennis)
	&.ico_en
		+s(images-lang_english)
	&.ico_fr
		+s(images-lang_fr-fr)
	&.ico_gr
		+s(images-lang_greek)
	&.ico_hr
		+s(images-lang_hr-hr)
	&.ico_nl
		+s(images-lang_nl-be)
	&.ico_por
		+s(images-lang_portugal)
	&.ico_sp
		+s(images-lang_spain)
	&.ico_turc
		+s(images-lang_turkey)
	&.ico_ger
		+s(images-lang_german)
	&.ico_soccer2
		+s(images-soccer)
	&.ico_tennis2
		+s(images-tennis)
	&.ico_basketball2
		+s(images-basketball)
	&.ico_stat
		+s(ico-stat)
	&.ico_upd
		+s(ico-upd)
	&.ico_error
		+s(images-error)

*
	+box

body
	font-family: Arial, sans-serif 
	font-size: 13px
	color: #fff
	line-height: 1.4
	+font-smoothing(antialiased)
	&.is-home
		.l .col-left
			background: url(../img/images-default-backgroundcenter.jpg) no-repeat 0 0
			background-size: cover
	&.is-bets
		.l .col-left
			+border-radius(8px)

// common blocks      

// out
.out
	padding: 8px
	height: 100%
	height: auto
	min-height: 100%
	+grad
	&.is-login
		+g(#fe1d22, #a2a5a8)
		.btn.btn_login
			+g(#fe2e32, #d12e2e)
// wrap
.wrap
	margin: 0 auto
	padding: 7px 7px 62px
	width: 1260px
	+border-radius(8px)
	+box-shadow(4px 4px 5px #000)
	background: $gray-out

// cols
.col-left
	float: left
	margin-right: 4px
	width: 996px
.col-right
	float: right
	width: 246px
	.btn
		width: 100%

// header
.header
	.header__row
		margin: 4px 0
		+clr
		.col-left
			position: relative
			padding: 2px 10px 8px
			+border-radius(10px)
			background: url(../img/top-bg.png) no-repeat 0 0
			background-size: cover

	.ind
		padding-left: 28px
		line-height: 1
		font-size: 12px
		text-transform: uppercase
		vertical-align: top
		display: inline-block
	.form__field
		width: 120px
	.form__label
		padding-top: 6px
	.form
		.col-left
			padding: 6px 20px
			+border-radius(10px)
			background: $gray
		.col-right
			position: relative

// logo
.logo
	vertical-align: top
	display: inline-block
	+s(logo)

// live-block
.live-block
	position: absolute
	left: 239px
	bottom: 0
	width: 516px
	height: 36px
	font-weight: bold
	text-align: center
	+border-radius(4px 4px 0 0)
	background: rgba($light-gray, .5)
	.live-block__top
		height: 20px
		line-height: 20px
		font-weight: bold
		font-size: 18px
		white-space: nowrap
		overflow: hidden
	span
		position: relative
	.live-block__bot
		font-size: 11px

// balance
.balance
	padding: 5px
	background: $gray
	font-weight: bold
	+border-radius(8px)
	+clr
	.balance__row
		padding-top: 3px
		+clr
	.balance__left
		float: left
		padding-left: 2px
		line-height: 1.1
		text-transform: uppercase
		+opacity(0.5)
	.balance__right
		float: right
		color: $turquoise
		line-height: 1.1
	.balance__top
		line-height: 32px
		+clr
		.btn
			padding: 0
			width: 40px
			height: 32px
		.balance__left
			text-transform: initial
		.balance__right,
		.balance__left
			line-height: 32px
	.balance__sum
		margin-right: 10px
		color: #e8dd74
		text-transform: initial
		display: inline-block
	.balance__ind
		text-align: right
		color: #e8dd74
	.station
		text-align: right

// form
.form
	+clr
	.form__right
		float: right
	.form__label
		margin-right: 6px
		vertical-align: top
		display: inline-block
	.form__col
		margin-left: 8px
	.form__field,
	.form__col
		vertical-align: top
		display: inline-block
	
// input
.input
	padding: 0 10px
	height: 26px
	width: 100%
	color: #fff
	border: 1px solid $light-gray
	background: $bg-input
	display: inline-block
	
// select
.select
	position: relative
	cursor: pointer
	+user-select(none)
	&.is-active
		.select__list
			display: block
	.select__text
		position: relative
		padding: 11px 65px 0 61px
		height: 50px
		+border-radius(8px)
		background: $gray
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 56px
			+s(arr-gray-bot)
	.select__list
		position: absolute
		bottom: 100%
		margin-bottom: -5px
		left: 51px
		width: 146px
		padding: 2px 0
		+border-radius(8px 8px 0 0)
		background: $gray-sel-list
		display: none
	li
		padding: 5px 4px
		cursor: pointer
		&:active,
		&.is-selected
			+box-shadow(inset 0 -1px 0 #525252, inset 0 1px 0 #f8fafa)
			background: $gray-sel-selected
// btn
.btn
	position: relative
	padding: 0 18px
	height: 45px
	line-height: 45px
	font-size: 13px
	color: #fff
	text-align: center
	font-weight: bold
	text-decoration: none
	vertical-align: top
	+g($dark-gray, $light-gray)
	+border-radius(4px)
	display: inline-block
	&:active
		top: -1px
		+background-image(linear-gradient($dark-gray, $light-gray 70%))
	&.btn_small
		height: 25px
		line-height: 25px
	&.btn_green
		height: 38px
		line-height: 38px
		font-weight: bold
		+border-radius(8px)
		+g($light-green, $green)
		&:active
			top: 0
			+background-image(linear-gradient($light-green 100%, $green))
	&.btn_middle
		height: 32px
		line-height: 32px
	&.btn_foot
		height: 40px
		width: 138px
		line-height: 40px
	&.btn_arr-l,
	&.btn_arr-r,
	&.btn_arr-t,
	&.btn_arr-b
		width: 64px
		&:before,
		&:after
			position: absolute
			content: ''
			top: 50%
			+opacity(.8)
			+translate(0,-50%)
	&.btn_arr-l
		&:before
			left: 21px
			+arr(10,17,#fff,l)
		&:after
			left: 31px
			+arr(10,17,#fff,l)
	&.btn_arr-r
		&:before
			right: 21px
			+arr(10,17,#fff,r)
		&:after
			right: 31px
			+arr(10,17,#fff,r)
	&.btn_arr-t
		&:before
			left: 50%
			+translate(-50%,-50%)
			+arr(17,10,#fff,t)
	&.btn_arr-b
		&:before
			left: 50%
			+translate(-50%,-50%)
			+arr(17,10,#fff,b)
	&:disabled,
	&.is-disabled
		cursor: default
		+opacity(0.6)
button.btn
	line-height: 1

// menu-wrap
.menu-wrap
	margin: 4px 0
	+clr

// menu
.menu
	padding: 3px 9px
	font-size: 0
	+border-radius(8px)
	background: $gray
	.menu__item
		margin-left: 2px
		font-size: 15px
		overflow: hidden
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
			a
				padding-left: 46px
	a
		position: relative
		margin-right: -1px
		padding: 0 30px 0 30px
		height: 40px
		width: 129px
		color: #fff
		text-decoration: none
		overflow: hidden
		+border-radius(4px 20px 0 4px)
		+g($dark-gray, $gray)
		display: block
		&:active,
		&.is-active
			+background-image(linear-gradient(left, #00a857, #009320))
			.events__left
				color: $color-yellow
		.ico
			position: absolute
			top: 50%
			left: 12px
			+translate(0,-50%)
	.status
		position: absolute
		top: 13px
		right: -48px
		width: 100%
		+rotate(55)

// l-gray
.l-gray
	padding: 2px
	background: $gray
	+border-radius(8px)
	.btn
		width: 100%
		height: 42px
		line-height: 42px
		+border-radius(8px)
	button.btn
		line-height: 1

// wrapper
.wrapper
	position: relative
	height: 749px
	overflow: hidden

// status
.status
	padding: 2px
	color: #fff
	line-height: 1
	font-size: 10px
	text-transform: uppercase
	font-weight: bold
	text-align: center
	letter-spacing: 0.9px
	background: $green-menu

// events
.events
	padding-top: 12px
	font-size: 15px
	line-height: 1
	text-align: center
	.events__left,
	.events__right
		vertical-align: top
		display: inline-block
	.events__left
		color: $color-green
		font-size: 20px
		line-height: 0.9
		letter-spacing: -3px
		font-weight: bold
	.events__right
		&:before
			content: '/'

// row
.row
	margin: 4px 0
	+clr

// col
.col
	vertical-align: top
	display: inline-block

// pages
.pages
	text-align: center
	vertical-align: top
	display: inline-block
	.pages__text
		width: 84px
		height: 40px
		line-height: 40px
		font-size: 24px
		font-weight: bold
		vertical-align: top
		display: inline-block

// banner
.banner
	overflow: hidden
	+border-radius(5px)
	img
		width: 100%
		display: block

// games
.games
	padding: 4px
	font-size: 0
	&.is-mod
		.games__item
			padding: 0 20px
			+vertical
	.games__item
		margin: 0 13px 13px 0
		text-align: center
		position: relative
		padding: 20px 20px 30px
		width: 220px
		height: 100px
		line-height: 45px
		+grad
		+border-radius(4px)
		vertical-align: top
		display: inline-block
		&:active
			+background-image(linear-gradient($dark-gray, $light-gray 70%))
		&.is-live
			.games__name
				font-size: 20px
				color: $color-green
	.games__name
		margin-bottom: 5px
		color: #fff
		font-size: 15px
		line-height: 1.4
		font-weight: bold
		text-decoration: none
		vertical-align: bottom
		display: inline-block
	.games__in
		line-height: 1
		vertical-align: middle
		display: inline-block
		.games__name
			margin-bottom: 0
			line-height: 1.2
		.games__text
			color: #fcfc01
			font-size: 12px
			line-height: 1.2
	.ico
		position: absolute
		left: 50%
		bottom: 10px
		+translate(-50%,0)

// more
.more
	padding: 5px 15px 5px 5px
	.more__item
	.col
		float: right
		margin-left: 5px
		width: 314px
		&:first-child
			float: left
			margin-left: 12px
	.row
		padding-right: 12px
		margin: 5px 0
		font-size: 0
	.coef
		margin-left: 5px

// mark
.mark
	padding: 0 10px
	width: 248px
	height: 42px
	font-size: 15px
	line-height: 38px
	font-weight: bold
	vertical-align: top
	border: 2px solid #fff
	+border-radius(6px)
	+g(#2c5c1b, #3d8325)
	display: inline-block

// coef
.coef
	position: relative
	width: 60px
	height: 42px
	&.is-blocked
		font-size: 0
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			+translate(-50%, -50%)
			+opacity(0.5)
			+s(images-lock2)

.coef,
.btn-more,
.btn-stat
	color: #fff
	font-size: 15px
	font-weight: bold
	vertical-align: top
	+box-shadow(0 0 5px #000)
	+border-radius(6px)
	+background-image(linear-gradient(#1b456a, #163a59, #1b466b))
	display: inline-block
	&:active
		+background-image(linear-gradient(#163a59, #1b456a, #163a59))

.btn-more,
.btn-stat
	width: 42px
	height: 92px
	&:disabled
		cursor: default
		+opacity(0.6)
	&:active
		+background-image(linear-gradient(#163a59, #1b456a, #163a59))

// btn-more
.btn-more
	span
		position: relative
		top: -1px

// ground
.ground
	font-size: 0
	+opacity(.8)
	.ground__item
		line-height: 27px
		font-size: 15px
		letter-spacing: 0.4px
		vertical-align: top
		display: inline-block
		&:first-child
			padding-left: 15px
			width: 80px
		&:nth-child(2)
			padding-left: 130px
			width: 391px
		&:nth-child(3),
		&:nth-child(5)
			margin-right: 2px
			width: 136px
		&:nth-child(4)
			margin-right: 7px
			width: 134px
			.ground__ind
				&:first-child
					width: 39px
					color: #fff
	.ground__col
		line-height: 13px
		text-align: center
	.ground__top
		height: 12px
	.ground__row
		font-size: 0
	.ground__ind
		margin-left: 5px
		width: 42px
		color: $color-orange
		font-size: 14px
		line-height: 15px
		height: 15px
		text-transform: uppercase
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0

// bets
.bets
	font-weight: bold

// bet
.bet
	position: relative
	margin-top: 4px
	padding: 3px 5px 3px 10px
	+box-shadow(2px 2px 5px 1px #000)
	+border-radius(8px)
	+g(#163957, #163957)
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		bottom: 0
		width: 80px
		+border-radius(8px 0 0 8px)
		background: rgba(#000, .1)
	&:first-child
		margin-top: 0
	&.is-green
		+g(#2b581b, #3e8425)
	.bet__in
		position: relative
		z-index: 2
		+clr
	.bet__left
		float: left
		width: 446px
	.bet__right
		float: right
		width: 525px
	.bet__more
		margin-left: 7px
		font-size: 0
		vertical-align: top
		display: inline-block
	.leg-up
		margin-left: 4px
	.coef
		margin-left: 5px
		width: 42px
		&:first-child
			margin-left: 0
	.btn-stat
		margin-left: 4px
	.teams
		position: relative
		font-size: 0
	.team
		padding-left: 64px
		width: 50%
		height: 22px
		line-height: 22px
		font-size: 13px
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		text-transform: uppercase
		vertical-align: top
		display: inline-block
		&:first-child
			padding: 0 64px 0 0
			text-align: right
	.score
		position: absolute
		top: 0
		left: 50%
		+translate(-50%,0)
	.time
		text-transform: uppercase

// .points total leg-up
.points,
.total,
.leg-up
	width: 136px
	font-size: 0
	vertical-align: top
	display: inline-block
	.row
		margin: 0
		& + .row
			margin-top: 8px

.total
	margin-right: 4px
	width: 134px
	.total__ind
		font-size: 15px
		width: 37px
		height: 42px
		line-height: 42px
		text-align: center
		vertical-align: top
		display: inline-block

// score
.score
	width: 106px
	height: 22px
	line-height: 22px
	color: $green-score
	text-align: center
	font-size: 16px
	+border-radius(2px)
	+box-shadow(2px 2px 6px #000)
	background: $color-orange

// liga
.liga
	margin-top: 20px
	font-size: 0
	.liga__col
		text-align: right
		font-size: 15px
		width: 50%
		vertical-align: top
		display: inline-block
		&:first-child
			text-align: left

// topic
.topic
	padding: 5px 20px 9px 75px
	font-weight: bold
	font-size: 14px
	background: $bg-topic
	span
		margin-right: 2px
		text-transform: uppercase
		&:first-child
			text-transform: initial

// keyboard
.keyboard
	position: absolute
	top: 0
	left: 50%
	+translate(-50%,0)
	width: 630px
	padding: 1px
	+box-shadow(inset 0 0 0 1px #fff, 3px 3px 5px rgba(#000, .3), -3px 0 5px rgba(#000, .3))
	border: 1px solid #6a7d8d
	+border-radius(3px)
	background: #e8eaed
	.keyboard__top
		position: relative
		height: 14px
		border-bottom: 1px solid #fff
		+g(#fff, #e4e7ea)
	.keyboard__close
		position: absolute
		top: 50%
		right: 10px
		+translate(0,-50%)
		+s(key-close)
	.keyboard__in
		padding: 10px 13px 10px 11px
		font-size: 0
	.keyboard__row
		&:first-child
			.key
				font-size: 14px
				&.key_beta
					font-size: 23px
			.key__top,
			.key__bot
				font-size: 14px
				&.key_par
					font-size: 12px
	.keyboard__bot
		margin-top: 5px
		+clr
		.key.key_close
			float: left
		.sel
			float: right
			margin-top: 4px

// key
.key
	margin: 0 2px 1px 0
	width: 40px
	height: 44px
	color: #000
	font-size: 23px
	text-align: center
	vertical-align: top
	+box-shadow(inset 0 0 0 1px #fff, 3px 3px 5px rgba(#000, .7))
	+border-radius(3px)
	border: 1px solid #a1adb8
	+g(#fff, #ccd3d8)
	display: inline-block
	&.key_bs
		width: 54px
		text-transform: uppercase
		font-size: 11px
	&.key_tab
		width: 54px
		color: #a52a2a
		font-size: 12px
	&.key_caps,
	&.key_enter
		width: 68px
		font-size: 12px
	&.key_enter
		color: #a52a2a
	&.key_shift
		width: 89px
		font-size: 12px
	&.key_bs,
	&.key_tab,
	&.key_caps,
	&.key_enter,
	&.key_shift
		+box-shadow(inset 0 0 0 1px #fff, 0 0 0 transparent)
		+g(#fff, #dededc)
	&.key_space
		position: relative
		left: 50%
		+translate(-50%,0)
		margin-top: 2px
		width: 291px
		height: 33px
		color: #a52a2a
		font-size: 18px
	&.key_close
		width: 197px
		height: 33px
	.key__top,
	.key__bot
		font-size: 12px
		display: block
	.key__top
		height: 17px
		&.key__par
			font-size: 12px
	.key__bot
		font-weight: bold

// sel
.sel
	position: relative
	width: 180px
	font-size: 14px
	color: #000
	.sel__text
		padding: 0 18px 0 8px
		height: 29px
		line-height: 27px
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		cursor: pointer
		+user-select(none)
		+border-radius(2px)
		border: 1px solid #a7a7a7
		+g(#cbcbcb, #e5e8eb)
	.sel__ico
		position: absolute
		top: 50%
		right: 6px
		+translate(0,-50%)
		+s(sel-arr)

.wind
	position: absolute
	left: 15px
	top: 100%
	padding: 2px 5px
	color: #000
	font-size: 13px
	z-index: 10
	+border-radius(2px)
	border: 1px solid #bababa
	+g(#9e9e9e, #636363)

// checker
.checker
	margin: 113px auto 0
	width: 500px
	color: #fff
	.checker__in
		text-align: center
	.checker__bot
		.btn
			width: 100%
			height: 60px
	.checker__topic
		margin-top: 5px
		padding: 5px 0 5px 8px
		height: 48px
		font-size: 15px
		font-weight: bold
		+box
		+border-radius(4px)
		background: #4c5258
		+clr
		.checker__col
			&:last-child
				width: 88px
	.checker__row
		margin: 2px 0
		+clr
	.checker__col
		float: left
		margin-left: 8px
		width: 96px
		&:first-child
			margin-left: 0
		&.is-mod
			width: 292px
	.checker__scan	
		padding: 7px
		+border-radius(4px)
		+background-image(linear-gradient(to left, #8b1a1a, #a46363, #8b1a1a))
	.checker__foot
		margin-top: 2px
		text-align: right
		font-size: 11px
	input
		padding: 0 5px
		width: 100%
		height: 30px
		color: #fff
		font-weight: bold
		font-size: 14px
		+box
		+border-radius(5px)
		border: 2px solid #d6d6d6
		background: #9ea1a3
		display: block

// t-keybord
.t-keybord
	padding: 2px
	background: #000
	+border-radius(3px)
	vertical-align: top
	display: inline-block
	.t-keybord__row
		margin-top: 4px
		font-size: 0
		&:first-child
			margin-top: 0
	.t-key
		margin-left: 4px
		width: 113px
		height: 84px
		color: #fff
		font-size: 16px
		@extend .btn
		&:first-child
			margin-left: 0
		&.t-key_green
			text-transform: uppercase
			+background-image(linear-gradient(to right, #00a857, #009320))
			&:active
				+background-image(linear-gradient(to right, #00a857 50%, #009320))

// arr-left
.arr-left
	display: inline-block
	+arr(9,16,#fff,l)

// content
.content
	position: relative
	margin: 5px 19px 5px 5px
	color: #000
	max-height: 744px
	overflow: auto
	&::-webkit-scrollbar
		display: none
	.content__in
		padding: 8px 10px 8px 5px
		margin-right: 28px
		border: 1px solid #969fa7
		background: #b9babb
	.jspVerticalBar
		top: 1px
		right: 1px
		bottom: 1px
		height: auto
		padding: 0 4px
		width: 32px
		+box-shadow(1px 0 0 rgba(#fff, .1), 0 1px 0 rgba(#fff, .1), 0 -1px 0 rgba(#fff, .1))
		+g(#a0a0a0, #535353)
		+box
	.jspTrack
		background: transparent
	.jspArrow
		position: relative
		background: transparent
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			+translate(-50%,-50%)
		&.jspArrowUp
			&:before
				+s(sel-arr-top)
		&.jspArrowDown
			&:before
				+s(sel-arr)
	.jspDrag
		border-radius: 5px
		+gh(#cacaca, #8d8d8d)
		+box-shadow(0 0 0 1px rgba(#fff, .3))

.title
	text-transform: uppercase
	font-size: 16px
	font-weight: normal

.title-2
	font-size: 14px
	font-weight: normal

// spinner
$sp-ico-color: #63707d !default
$sp-ico-size: 69px !default

.sp-ico
	margin: 10px 0
	font-size: $sp-ico-size
	position: relative
	display: inline-block
	width: 69px
	height: 69px
	.sp-ico__blade
		position: absolute
		left: .4629em
		bottom: 0
		width: 5px
		height: .2777em
		border-radius: .5em
		background-color: transparent
		transform-origin: center -.2222em
		animation: sp-ico-fade 1s infinite linear

		$animation-delay: 0s
		$blade-rotation: 0deg

		@for $i from 1 through 9
			&:nth-child(#{$i})
				animation-delay: $animation-delay
				transform: rotate($blade-rotation)
				$blade-rotation: $blade-rotation + 40
				$animation-delay: $animation-delay + .11s

@keyframes sp-ico-fade
	0%
		background-color: $sp-ico-color
	100%
		background-color: transparent

$spinner-size: 50px !default

.spinner
	margin: 10px 0
	font-size: $spinner-size
	position: relative
	display: inline-block
	width: 69px
	height: 69px
	.spinner__blade
		position: absolute
		left: .6429em
		bottom: 0
		width: 5px
		height: .2777em
		border-radius: 2.5px/7px
		background-color: transparent
		transform-origin: center -.4222em
		animation: spinner-fade 1s infinite linear
		+g(#d9d41e, #de9129)

		$animation-delay: 0s
		$blade-rotation: 0deg

		@for $i from 1 through 12
			&:nth-child(#{$i})
				animation-delay: $animation-delay
				transform: rotate($blade-rotation)
				$blade-rotation: $blade-rotation + 30
				$animation-delay: $animation-delay + .083

@keyframes spinner-fade
	0%
		opacity: 1
	100%
		opacity: 0

.popup
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	background: rgba(#fff, .7)
	+vertical
	&.is-dark
		background: rgba($gray, .8)
	.popup__in
		vertical-align: middle
		display: inline-block
		font-size: 14px
		font-weight: bold

// preloader
.preloader
	padding: 9px
	width: 318px
	border: 1px solid #9aa4ad
	+border-radius(2px)
	+box-shadow(0 0 4px 1px rgba(#000, .7))
	background: rgba(#fff, .5)
	.preloader__wrap
		padding: 15px 10px 45px
		text-align: center
		background: rgba(#000, .5)
	.preloader__text
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		color: #fff
	.sp-ico
		margin: 0 auto 14px
		display: block
// error-p
.error-p
	position: relative
	padding: 25px 6px 6px
	font-weight: bold
	min-width: 520px
	font-size: 14px
	+box-shadow(0 0 5px 2px #000)
	+border-radius(3px)
	+g(#4f4f4f, #b9b9b9)
	.error-p-top
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 0 6px
		height: 17px
		line-height: 17px
		font-size: 12px
		text-align: left
		+box-shadow(inset 0 0 0 1px rgba(#fff, .5))
		+border-radius(3px)
		+g(#fff, #df0909)
	.error-p__wrap
		position: relative
		padding: 18px 0 2px
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			bottom: 0
			+opacity(.5)
			background: url(../img/top-bg.png) no-repeat 50% 50%
			background-size: 100% 100%
	.error-p__text
		position: relative
		padding: 10px 10px 10px 60px
		min-height: 117px
		+text-shadow(1px 1px 4px #000)
	.ico
		position: absolute
		top: 14px
		left: 0
		z-index: 1
	.btn
		height: 27px
		width: 78px
		text-transform: uppercase
		font-weight: normal
		font-size: 12px

// footer
.footer
	margin: -73px auto
	padding: 7px
	font-size: 0
	width: 1260px
	.col-left
		padding: 5px
		text-align: center
		background: $gray
		+border-radius(8px)
	.btn,
	.pages
		margin-left: 10px
		&:first-child
			margin-left: 0
	.pages
		.btn
			margin: 0






































































































