// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

// variables
$dark-gray: #292929
$gray: #7f8285
$gray-sel-list: #cbcbcb
$gray-sel-selected: #bababa
$light-gray: #a2a5a8
$green: #2d802d
$light-green: #299c00
$turquoise: #94f691

$bg-input: #4f4f50
$bg-topic: #4c5258
$gray-out: #454343
$green-menu: #4ca542
$active-it-menu: #009b35
$green-score: #006400

$color-green: #26a023
$color-yellow: #ffff00
$color-orange: #de9114

=grad
	+g($dark-gray, $light-gray)

// icons
.ico
	display: inline-block
	&.ico_soccer
		+s(soccer)
	&.ico_basketball
		+s(basketball)
	&.ico_ice-hockey
		+s(ice-hockey)
	&.ico_tennis
		+s(tennis)
	&.ico_en
		+s(images-lang_english)
	&.ico_fr
		+s(images-lang_fr-fr)
	&.ico_el
		+s(images-lang_greek)
	&.ico_hr
		+s(images-lang_hr-hr)
	&.ico_nl
		+s(images-lang_nl-be)
	&.ico_pt
		+s(images-lang_portugal)
	&.ico_es
		+s(images-lang_spain)
	&.ico_tr
		+s(images-lang_turkey)
	&.ico_de
		+s(images-lang_german)
	&.ico_soccer2
		+s(images-soccer)
	&.ico_tennis2
		+s(images-tennis)
	&.ico_basketball2
		+s(images-basketball)
	&.ico_stat
		+s(ico-stat)
	&.ico_upd
		+s(ico-upd)
	&.ico_error
		+s(images-error)
	&.ico_calc-t
		+s(images-default-arrow_left)
	&.ico_calc-b
		+s(images-default-arrow_right)
	&.ico_football
		+s(ico-football)
	&.ico_ball-tennis
		+s(ball-tennis)
	&.ico_datepicker
		+s(ico-datepicker)
	&.ico_up
		+s(ico-up)
	&.ico_k-left
		+s(ico-k-left)
	&.ico_k-right
		+s(ico-k-right)
	&.ico_key
		+s(ico-key)
	&.ico_delete
		+s(ico-delete)
	&.ico_more
		+s(icon-more)

*
	+box

body
	font-family: Arial, sans-serif 
	font-size: 13px
	color: #fff
	line-height: 1.4
	+font-smoothing(antialiased)
	&.is-home
		.l .col-left
			background: url(../img/images-default-backgroundcenter.jpg) no-repeat 0 0
			background-size: cover
	&.is-bets
		.l .col-left
			+border-radius(8px)
	&.is-hidden
		overflow: hidden

// common blocks      

// out
.out
	height: 100%
	width: 100%
	display: inline-table
	+grad
	&.is-login
		+g(#fe1d22, #a2a5a8)
		.btn.btn_login
			+g(#fe2e32, #d12e2e)
	&.is-main
		padding: 3px 2px 1px
		background: #000

.center
	position: relative
	margin: 0 auto
	height: 1020px
	width: 1276px
	overflow: hidden
	background: #3c3e3f
	&.center_mod
		background: #282828
	.c-arr
		position: absolute
		right: 2px
		bottom: 2px
		cursor: pointer
		z-index: 20
		+s(c-arr)

// wrap
.wrap
	margin: 0 auto
	padding: 7px 7px 0
	min-width: 1260px
	max-width: 1680px
	height: 100%
	min-height: 100%
	+border-radius(8px)
	+box-shadow(4px 4px 5px #000)
	background: $gray-out

// cols
.col-left
	overflow: hidden
.col-right
	float: right
	margin-left: 4px
	width: 246px
	min-width: 246px
	.btn
		width: 100%

// header
.header
	.header__row
		margin: 4px 0
		+clr
		.col-left
			position: relative
			padding: 2px 10px 8px
			+border-radius(10px)
			background: url(../img/top-bg.png) no-repeat 50% 0
			background-size: cover

	.ind
		padding-left: 28px
		line-height: 1
		font-size: 12px
		text-transform: uppercase
		vertical-align: top
		display: inline-block
	.form__field
		width: 120px
	.form__label
		padding-top: 6px
	.form
		.col-left
			padding: 6px 20px
			+border-radius(10px)
			background: $gray
		.col-right
			position: relative

// logo
.logo
	vertical-align: top
	display: inline-block
	+s(logo)

.logo-small
	vertical-align: top
	display: inline-block
	+s(logo-small)

// live-block
.live-block
	position: absolute
	left: 50%
	bottom: 0
	+translate(-50%,0)
	margin-left: 110px
	width: 52%
	height: 36px
	font-weight: bold
	text-align: center
	+border-radius(4px 4px 0 0)
	background: rgba($light-gray, .5)
	.live-block__top
		height: 20px
		line-height: 20px
		font-weight: bold
		font-size: 18px
		white-space: nowrap
		overflow: hidden
	span
		position: relative
	.live-block__bot
		font-size: 11px
		line-height: 20px
	.live-block__but
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		+clr
		.btn
			float: right
			height: 36px
			line-height: 36px
			&:first-child
				float: left
			&.btn_tabellen
				margin-right: 10px		

// balance
.balance
	padding: 5px
	background: $gray
	font-weight: bold
	+border-radius(8px)
	+clr
	.balance__row
		padding-top: 3px
		+clr
	.balance__left
		float: left
		padding-left: 2px
		line-height: 1.1
		text-transform: uppercase
		+opacity(0.5)
	.balance__right
		float: right
		color: $turquoise
		line-height: 1.1
	.balance__top
		line-height: 32px
		+clr
		.btn
			padding: 0
			width: 40px
			height: 32px
		.balance__left
			text-transform: initial
		.balance__right,
		.balance__left
			line-height: 32px
	.balance__sum
		margin-right: 10px
		color: #e8dd74
		text-transform: initial
		display: inline-block
	.balance__ind
		text-align: right
		color: #e8dd74
	.station
		text-align: right

// form
.form
	+clr
	.form__right
		float: right
	.form__label
		margin-right: 6px
		vertical-align: top
		display: inline-block
	.form__col
		margin-left: 8px
	.form__field,
	.form__col
		vertical-align: top
		display: inline-block
	
// input
.input
	padding: 0 10px
	height: 26px
	width: 100%
	color: #fff
	border: 1px solid $light-gray
	background: $bg-input
	display: inline-block

// input-white
.input-white
	padding: 0 10px
	height: 25px
	color: #000
	background: #d9dadb
	
// select
.select
	position: relative
	cursor: pointer
	+user-select(none)
	&.is-active
		.select__list
			z-index: 1
			display: block
	.select__text
		position: relative
		padding: 11px 65px 0 61px
		height: 50px
		+border-radius(8px)
		background: $gray
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 56px
			+s(arr-gray-bot)
	.select__list
		position: absolute
		bottom: 100%
		margin-bottom: -5px
		left: 51px
		width: 146px
		padding: 2px 0
		+border-radius(8px 8px 0 0)
		background: $gray-sel-list
		display: none
	li
		padding: 5px 4px
		cursor: pointer
		&:active,
		&.is-selected
			+box-shadow(inset 0 -1px 0 #525252, inset 0 1px 0 #f8fafa)
			background: $gray-sel-selected
// btn
.btn
	position: relative
	padding: 0 18px
	height: 45px
	line-height: 45px
	font-size: 13px
	color: #fff
	text-align: center
	font-weight: bold
	text-decoration: none
	vertical-align: top
	+g($dark-gray, $light-gray)
	+border-radius(4px)
	display: inline-block
	&:active
		top: -1px
		+background-image(linear-gradient($dark-gray, $light-gray 70%))
	&.btn_small
		height: 25px
		line-height: 25px
	&.btn_green
		height: 38px
		line-height: 38px
		font-weight: bold
		+border-radius(8px)
		+g($light-green, $green)
		&:active
			top: 0
			+background-image(linear-gradient($light-green 100%, $green))
	&.btn_yellow
		+background-image(linear-gradient(to left, #dd9014, #f77026))
	&.btn_middle
		height: 32px
		line-height: 32px
	&.btn_big
		height: 50px
		line-height: 50px
		font-size: 15px
	&.btn_foot
		height: 40px
		width: 138px
		line-height: 40px
	&.btn_arr-l,
	&.btn_arr-r,
	&.btn_arr-t,
	&.btn_arr-b
		width: 64px
		&:before,
		&:after
			position: absolute
			content: ''
			top: 50%
			+opacity(.8)
			+translate(0,-50%)
	&.btn_arr-l
		&:before
			left: 21px
			+arr(10,17,#fff,l)
		&:after
			left: 31px
			+arr(10,17,#fff,l)
	&.btn_arr-r
		&:before
			right: 21px
			+arr(10,17,#fff,r)
		&:after
			right: 31px
			+arr(10,17,#fff,r)
	&.btn_arr-t
		&:before
			left: 50%
			+translate(-50%,-50%)
			+arr(17,10,#fff,t)
	&.btn_arr-b
		&:before
			left: 50%
			+translate(-50%,-50%)
			+arr(17,10,#fff,b)
	&:disabled,
	&.is-disabled
		cursor: default
		+opacity(0.6)
button.btn
	line-height: 1

// menu-wrap
.menu-wrap
	margin: 4px 0
	+clr

// menu
.menu
	padding: 3px 9px
	font-size: 0
	+border-radius(8px)
	background: $gray
	.menu__item
		margin-left: 2px
		font-size: 15px
		overflow: hidden
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
			a
				padding-left: 46px
	a
		position: relative
		margin-right: -1px
		padding: 0 30px 0 30px
		height: 40px
		width: 129px
		color: #fff
		text-decoration: none
		overflow: hidden
		+border-radius(4px 20px 0 4px)
		+g($dark-gray, $gray)
		display: block
		&:active,
		&.is-active
			+background-image(linear-gradient(left, #00a857, #009320))
			.events__left
				color: $color-yellow
		&.is-disabled
			opacity: .5
			cursor: default
		.ico
			position: absolute
			top: 50%
			left: 12px
			+translate(0,-50%)
	.status
		position: absolute
		top: 13px
		right: -48px
		width: 100%
		+rotate(55)

// l-gray
.l-gray
	padding: 2px
	background: $gray
	+border-radius(8px)
	.btn
		width: 100%
		height: 42px
		line-height: 42px
		+border-radius(8px)
	button.btn
		line-height: 1

// wrapper
.wrapper
	position: relative
	height: 749px
	overflow: hidden

// status
.status
	padding: 2px
	color: #fff
	line-height: 1
	font-size: 10px
	text-transform: uppercase
	font-weight: bold
	text-align: center
	letter-spacing: 0.9px
	background: $green-menu
	&.is-red
		background: #f45151
	&.is-yellow
		color: #000
		background: #dad558

// events
.events
	padding-top: 12px
	font-size: 15px
	line-height: 1
	text-align: center
	.events__left,
	.events__right
		vertical-align: top
		display: inline-block
	.events__left
		color: $color-green
		font-size: 20px
		line-height: 0.9
		letter-spacing: -3px
		font-weight: bold
	.events__right
		&:before
			content: '/'

// row
.row
	margin: 4px 0
	+clr

// col
.col
	vertical-align: top
	display: inline-block

// pages
.pages
	text-align: center
	vertical-align: top
	display: inline-block
	.pages__text
		height: 40px
		line-height: 40px
		font-size: 24px
		font-weight: bold
		vertical-align: top
		display: inline-block

// banner
.banner
	overflow: hidden
	+border-radius(5px)
	img
		width: 100%
		display: block

// games
.games
	padding: 0px 4px
	font-size: 0
	overflow: hidden
	&.is-pad
		padding: 10%
		.games__item
			margin: 0 0 0 5%
			padding: 0
			width: 30%
		.games__row	
			margin-bottom: 5%
		a
			position: relative
			padding: 20px
			height: 100%
			width: 100%
			display: inline-table
			+vertical
			.games__name
				margin: 0
				vertical-align: middle
	&.is-mod
		.games__item
			padding: 0 20px
			+vertical
	.games__row
		margin-bottom: 1.25%
	.games__item
		margin: 0 0 0 1.3%
		text-align: center
		position: relative
		padding: 20px 20px 30px
		width: 24%
		height: 100px
		line-height: 45px
		+grad
		+border-radius(4px)
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
		&:active
			+background-image(linear-gradient($dark-gray, $light-gray 70%))
		&.is-live
			.games__name
				font-size: 20px
				color: $color-green
		a
			display: block
	.games__name
		margin-bottom: 5px
		color: #fff
		font-size: 15px
		line-height: 1.4
		font-weight: bold
		text-decoration: none
		vertical-align: bottom
		display: inline-block
		position: relative
	.games__in
		line-height: 1
		vertical-align: middle
		display: inline-block
		.games__name
			margin-bottom: 0
			line-height: 1.2
		.games__text
			color: #fcfc01
			font-size: 12px
			line-height: 1.2
	.ico
		position: absolute
		left: 50%
		bottom: 10px
		+translate(-50%,0)

// more
.more
	padding: 5px 15px 5px 5px
	.more__item
		+clr
	.col
		float: right
		margin-left: 1%
		width: 32.33%
		&:first-child
			float: left
	.row
		padding-right: 12px
		margin: 5px 0
		font-size: 0
	.coef
		float: right
		margin-left: 5px
	.mark
		width: auto
		overflow: hidden
		display: block

// mark
.mark
	padding: 0 10px
	width: 248px
	height: 42px
	font-size: 15px
	line-height: 38px
	font-weight: bold
	vertical-align: top
	border: 2px solid #fff
	+border-radius(6px)
	+g(#2c5c1b, #3d8325)
	display: inline-block

// coef
.coef
	position: relative
	width: 60px
	height: 42px
	&:disabled
		+opacity(.5)
	&.is-blocked
		font-size: 0
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			+translate(-50%, -50%)
			+opacity(0.5)
			+s(images-lock2)
	&.is-active
		+g(#de8f15, #f66f25)
	&.is-up,
	&.is-down
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			+opacity(0.3)
			+translate(-50%,-50%)
	&.is-up
		&:before
			+arr(35,22,#fff,t)
	&.is-down
		&:before
			+arr(35,22,#fff,b)

.coef,
.btn-more,
.btn-stat
	color: #fff
	font-size: 15px
	font-weight: bold
	vertical-align: top
	+box-shadow(0 0 5px #000)
	+border-radius(6px)
	+background-image(linear-gradient(#1b456a, #163a59, #1b466b))
	display: inline-block

.btn-more,
.btn-stat
	width: 42px
	height: 92px
	&:disabled
		cursor: default
		+opacity(0.6)
	&.is-small
		height: 42px

// btn-more
.btn-more
	span
		position: relative
		top: -1px

.btn-close-ye
	width: 40px
	height: 35px
	color: #000
	font-size: 18px
	font-weight: bold
	+border-radius(4px)
	+box-shadow(1px 1px 5px #000)
	+g(#de8e15, #f77026)
	&:disabled
		+opacity(.5)

// ground
.ground
	font-size: 0
	+opacity(.8)
	+clr
	&.is-tennis
		& > .ground__item
			&:nth-child(2)
				width: calc(100% - 460px) !important
				padding: 0 85px 0 0 !important
				text-align: center
				+box
		.ground__right
			.ground__item
				&:nth-child(2)
					padding-left: 0 !important
					margin-right: 0 !important
					width: 134px !important
	&.is-football
		& > .ground__item
			&:nth-child(2)
				width: calc(100% - 610px) !important
				padding: 0 70px 0 0 !important
				text-align: center
				+box			
	.ground__item
		line-height: 27px
		font-size: 15px
		letter-spacing: 0.4px
		vertical-align: top
		display: inline-block
		&:first-child
			padding-left: 15px
			width: 80px
		&:nth-child(2)
			padding-left: 130px
			width: 380px
		&:nth-child(3),
		&:nth-child(5)
			margin-right: 2px
			width: 136px
		&:nth-child(4)
			margin-right: 7px
			width: 134px
			.ground__ind
				&:first-child
					width: 39px
					color: #fff
	.ground__col
		line-height: 13px
		text-align: center
	.ground__top
		height: 12px
	.ground__row
		font-size: 0
	.ground__ind
		margin-left: 5px
		width: 42px
		color: $color-orange
		font-size: 14px
		line-height: 15px
		height: 15px
		text-transform: uppercase
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	.ground__right
		float: right 
		padding-right: 108px
		.ground__item
			margin-right: 2px
			padding-left: 0
			&:nth-child(1),
			&:nth-child(3)
				width: 136px
			&:nth-child(2)
				margin-right: 12px
				width: 134px
				.ground__ind
					&:first-child
						width: 39px
						color: #fff

// bets
.bets
	font-weight: bold
	&.is-futball
		.score
			width: 66px
		.team
			padding-left: 44px
			&:first-child
				padding: 0 44px 0 0

// bet
.bet
	position: relative
	margin-top: 4px
	padding: 3px 5px 3px 10px
	+box-shadow(2px 2px 5px 1px #000)
	+border-radius(8px)
	+g(#163957, #295A84)
	
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		bottom: 0
		width: 80px
		+border-radius(8px 0 0 8px)
		background: rgba(#000, .1)
	&:first-child
		margin-top: 0
	&.is-green
		+g(#2b581b, #3e8425)
	&.is-pause
		+g(#86772e, #aea369)
	&.is-load
		$color: #3e8425
		$transparent: rgba(0, 0, 0, 0)
		background: linear-gradient(-45deg, $transparent 47.9%,  $color 49.9%, $color 70%,  $transparent 53% ), linear-gradient(-45deg, $color 24%, $transparent 17% )
		background-size: 6px 6px
		background-color: #6f9426
	.bet__in
		position: relative
		z-index: 2
		+clr
	.bet__left
		overflow: hidden
	.bet__right
		position: relative
		float: right
		margin-left: 10px
		width: 525px
		.intent
			position: absolute
			top: 0
			left: 5px
			z-index: 2
	.bet__more
		margin-left: 7px
		font-size: 0
		vertical-align: top
		display: inline-block
	.bet__wr
		position: relative
		.time
			position: absolute
			top: 2px
			left: 0
		.score-w
			padding-top: 4px
			text-align: center
			font-size: 12px
			min-height: 22px
		.pause
			& + .score-w
				margin-top: -20px
	.bet__butt
		position: relative
		.time,
		.period
			display: inline-block
		.bet__timer
			position: absolute
			left: 0
		.score-period
			margin-top: 4px
			text-align: center
			font-size: 12px
	.leg-up
		margin-left: 4px
	.coef
		margin-left: 5px
		width: 42px
		&:first-child
			margin-left: 0
	.btn-stat
		margin-left: 4px
	.teams
		position: relative
		font-size: 0
	.team
		padding-left: 78px
		width: 50%
		height: 22px
		line-height: 22px
		font-size: 13px
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		vertical-align: top
		display: inline-block
		&__text
			display: block
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
		&:first-child
			position: relative
			padding: 0 78px 0 0
			text-align: right
		.card__wrap	
			display: block
			max-width: 84px
			float: right
			.card
				position: absolute
				top: 0
				right: 56px
				&.is-mod
					position: relative
					top: inherit
					right: inherit

	.team.is-mod
		overflow: visible
		white-space: normal
		text-overflow: inherit			

	.score
		position: absolute
		top: 0
		left: 50%
		+translate(-50%,0)
	.time
		text-transform: uppercase

// intent
.intent
	padding: 5px 0 0
	height: 42px
	font-size: 18px
	width: 400px
	color: #de9114
	+border-radius(4px)
	background: rgba(#000, .3)

// .points total leg-up
.points,
.total,
.leg-up,
.allowance
	width: 136px
	font-size: 0
	vertical-align: top
	display: inline-block
	.row
		margin: 0
		& + .row
			margin-top: 8px

.total
	margin-right: 4px
	width: 134px
	.total__ind
		font-size: 15px
		width: 37px
		height: 42px
		line-height: 42px
		text-align: center
		vertical-align: top
		display: inline-block

.allowance
	margin-left: 5px
	width: 90px

// score
.score
	width: 106px
	height: 22px
	line-height: 22px
	color: $green-score
	text-align: center
	font-size: 16px
	+border-radius(2px)
	+box-shadow(2px 2px 6px #000)
	background: $color-orange
	&.is-small
		width: 68px
	&.is-boll
		&.is-right
			.ico
				left: auto
				right: 4px
		.ico
			position: absolute
			left: 4px
			top: 50%
			+translate(0,-50%)

// liga
.liga
	margin-top: 20px
	font-size: 0
	.liga__col
		text-align: right
		font-weight: normal
		font-size: 15px
		width: 40%
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		vertical-align: top
		display: inline-block
		&:first-child
			text-align: left
			width: 60%

// topic
.topic
	padding: 5px 20px 9px 75px
	font-weight: bold
	font-size: 14px
	background: $bg-topic
	span
		margin-right: 2px
		text-transform: uppercase
		&:first-child
			text-transform: initial

// keyboard
.keyboard
	position: absolute
	top: 50%
	left: 50%
	+translate(-50%,-50%)
	width: 630px
	padding: 1px
	+box-shadow(inset 0 0 0 1px #fff, 3px 3px 5px rgba(#000, .3), -3px 0 5px rgba(#000, .3))
	border: 1px solid #6a7d8d
	+border-radius(3px)
	background: #e8eaed
	.keyboard__top
		position: relative
		height: 14px
		border-bottom: 1px solid #fff
		+g(#fff, #e4e7ea)
	.keyboard__close
		position: absolute
		top: 50%
		right: 10px
		+translate(0,-50%)
		+s(key-close)
	.keyboard__in
		padding: 10px 13px 10px 11px
		font-size: 0
	.keyboard__row
		&:first-child
			.key
				font-size: 14px
				&.key_beta
					font-size: 23px
			.key__top,
			.key__bot
				font-size: 14px
				&.key_par
					font-size: 12px
	.keyboard__bot
		margin-top: 5px
		+clr
		.key.key_close
			float: left
		.sel
			float: right
			margin-top: 4px

// keyb
.keyb
	position: fixed
	left: 0
	right: 0
	bottom: 0
	padding: 0.85vw 0.85vw 0.85vw 0
	vertical-align: bottom
	background: #000
	z-index: 99999
	+box
	.calculator
		margin: 0
		padding: 0
	&.is-number
		top: 50px
		margin-left: 2px
		padding: 9px
		.keyb__butt
			margin-left: 4%
			width: 30.5%
			min-height: 100%
			height: 63px
			line-height: 63px
			font-size: 22px
			-webkit-font-smoothing: antialiased
			&:first-child
				margin-left: 0 !important
		.keyb__row
			margin-top: 4%
			&:last-child
				.keyb__butt
					&:last-child
						width: 65%
	.keyb__row
		margin-top: 0.85vw
		font-size: 0
		white-space: nowrap
		&:first-child
			margin-top: 0
	.keyb__butt
		margin-left: 0.84vw
		width: 7.423vw
		height: 6.25vw
		color: #fff
		font-size: 2.6vw
		line-height: 6.25vw
		text-shadow: 1px 1px 1px #000, -1px -1px 1px #000
		font-family: Tahoma, 'Roboto', sans-serif
		text-align: center
		vertical-align: top
		background: #302f37
		display: inline-block
		+transition(all .1s linear)
		&:hover
			+opacity(.8)
		&:first-child
			margin-left: .3vw
		&.is-dark
			font-size: 2vw
			background: #1e1d22
		&.is-delete
			width: 15.6vw
		&.is-done
			font-size: 1.5vw
		&.is-tab
			font-size: 1.5vw
		&.is-space
			width: 57vw
		.ico
			vertical-align: middle
	.keyb__centr
		margin-top: -7px
		line-height: 1
		vertical-align: middle
		display: inline-block
	.keyb__leng
		text-transform: uppercase
		font-size: 1.2vw
		display: block


// key
.key
	margin: 0 2px 1px 0
	width: 40px
	height: 44px
	color: #000
	font-size: 23px
	text-align: center
	vertical-align: top
	+box-shadow(inset 0 0 0 1px #fff, 3px 3px 5px rgba(#000, .7))
	+border-radius(3px)
	border: 1px solid #a1adb8
	+g(#fff, #ccd3d8)
	display: inline-block
	&.key_bs
		width: 54px
		text-transform: uppercase
		font-size: 11px
	&.key_tab
		width: 54px
		color: #a52a2a
		font-size: 12px
	&.key_caps,
	&.key_enter
		width: 68px
		font-size: 12px
	&.key_enter
		color: #a52a2a
	&.key_shift
		width: 89px
		font-size: 12px
	&.key_bs,
	&.key_tab,
	&.key_caps,
	&.key_enter,
	&.key_shift
		+box-shadow(inset 0 0 0 1px #fff, 0 0 0 transparent)
		+g(#fff, #dededc)
	&.key_space
		position: relative
		left: 50%
		+translate(-50%,0)
		margin-top: 2px
		width: 291px
		height: 33px
		color: #a52a2a
		font-size: 18px
	&.key_close
		width: 197px
		height: 33px
	.key__top,
	.key__bot
		font-size: 12px
		display: block
	.key__top
		height: 17px
		&.key__par
			font-size: 12px
	.key__bot
		font-weight: bold

// sel
.sel
	position: relative
	width: 180px
	font-size: 14px
	color: #000
	.sel__text
		padding: 0 18px 0 8px
		height: 29px
		line-height: 27px
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		cursor: pointer
		+user-select(none)
		+border-radius(2px)
		border: 1px solid #a7a7a7
		+g(#cbcbcb, #e5e8eb)
	.sel__ico
		position: absolute
		top: 50%
		right: 6px
		+translate(0,-50%)
		+s(sel-arr)

.wind
	position: absolute
	left: 15px
	top: 100%
	padding: 2px 5px
	color: #000
	font-size: 13px
	z-index: 10
	+border-radius(2px)
	border: 1px solid #bababa
	+g(#9e9e9e, #636363)

// checker
.checker
	margin: 113px auto 0
	width: 500px
	color: #fff
	.checker__in
		text-align: center
	.checker__bot
		.btn
			width: 100%
			height: 60px
	.checker__topic
		margin-top: 5px
		padding: 5px 0 5px 8px
		height: 48px
		font-size: 15px
		font-weight: bold
		+box
		+border-radius(4px)
		background: #4c5258
		+clr
		.checker__col
			&:last-child
				width: 88px
	.checker__row
		margin: 2px 0
		+clr
	.checker__col
		float: left
		margin-left: 8px
		width: 96px
		&:first-child
			margin-left: 0
		&.is-mod
			width: 292px
	.checker__scan	
		padding: 7px
		+border-radius(4px)
		+background-image(linear-gradient(to left, #8b1a1a, #a46363, #8b1a1a))
	.checker__foot
		margin-top: 2px
		text-align: right
		font-size: 11px
	.checker__input
		input
			padding: 0 3px
			height: 42px
			text-align: right
			font-size: 24px
			+border-radius(2px)
			+g(#b0b0b0, #d7d7d7)
	.checker__text
		margin-bottom: 7px
	.checker__buttons
		font-size: 0
		.btn
			margin-left: 10px
			vertical-align: top
			&:first-child
				margin-left: 0
	input
		padding: 0 5px
		width: 100%
		height: 30px
		color: #fff
		font-weight: bold
		font-size: 14px
		+box
		+border-radius(5px)
		border: 2px solid #d6d6d6
		background: #9ea1a3
		display: block

// t-keybord
.t-keybord
	padding: 2px
	background: #000
	+border-radius(3px)
	vertical-align: top
	display: inline-block
	.t-keybord__row
		margin-top: 4px
		font-size: 0
		&:first-child
			margin-top: 0
	.t-key
		margin-left: 4px
		width: 113px
		height: 84px
		color: #fff
		font-size: 16px
		@extend .btn
		&:first-child
			margin-left: 0
		&.t-key_green
			text-transform: uppercase
			+background-image(linear-gradient(to right, #00a857, #009320))
			&:active
				+background-image(linear-gradient(to right, #00a857 50%, #009320))

// arr-left
.arr-left
	display: inline-block
	+arr(9,16,#fff,l)

// content
.content
	position: relative
	margin: 5px 19px 5px 5px
	color: #000
	max-height: 744px
	width: calc(100% - 25px) !important
	overflow: auto
	&::-webkit-scrollbar
		display: none
	&.content_mod
		.content__in
			border: none
			background: none
	.content__in
		padding: 8px 10px 8px 5px
		margin-right: 28px
		border: 1px solid #969fa7
		background: #b9babb

.jspHorizontalBar
	left: 0
	right: 0
	width: auto
	padding: 1px 0 2px
	height: 32px
	border: 1px solid #a7a7a7
	+border-radius(2px)
	background: transparent
	+box
	.jspDrag
		border-radius: 5px
		+g(#cacaca, #8d8d8d)
		+box-shadow(0 0 0 1px rgba(#fff, .3))
	.jspArrowRight
		margin-left: -2px
.jspVerticalBar
	top: 1px
	right: 1px
	bottom: 1px
	height: auto
	padding: 0 4px
	width: 32px
	+box-shadow(1px 0 0 rgba(#fff, .1), 0 1px 0 rgba(#fff, .1), 0 -1px 0 rgba(#fff, .1))
	+g(#a0a0a0, #535353)
	+box
	.jspDrag
		border-radius: 5px
		+gh(#cacaca, #8d8d8d)
		+box-shadow(0 0 0 1px rgba(#fff, .3))
.jspTrack
	background: transparent
.jspArrow
	position: relative
	background: transparent
	&:before
		position: absolute
		content: ''
		top: 50%
		left: 50%
		+translate(-50%,-50%)
	&.jspArrowUp
		&:before
			+s(sel-arr-top)
	&.jspArrowDown
		&:before
			+s(sel-arr)
	&.jspArrowLeft
		&:before
			+s(sel-arr-left)
	&.jspArrowRight
		&:before
			+s(sel-arr-right)
	&.jspDisabled
		background: transparent

.title
	text-transform: uppercase
	font-size: 16px
	font-weight: normal

.title-2
	font-size: 14px
	font-weight: normal

// spinner
$sp-ico-color: #63707d !default
$sp-ico-size: 69px !default

.sp-ico
	margin: 10px 0
	font-size: $sp-ico-size
	position: relative
	display: inline-block
	width: 69px
	height: 69px
	.sp-ico__blade
		position: absolute
		left: .4629em
		bottom: 0
		width: 5px
		height: .2777em
		border-radius: .5em
		background-color: transparent
		-webkit-transform-origin: center -.2222em
		transform-origin: center -.2222em
		-webkit-animation: sp-ico-fade 1s infinite linear
		animation: sp-ico-fade 1s infinite linear

		$animation-delay: 0s
		$blade-rotation: 0deg

		@for $i from 1 through 9
			&:nth-child(#{$i})
				-webkit-animation-delay: $animation-delay
				animation-delay: $animation-delay
				-webkit-transform: rotate($blade-rotation)
				transform: rotate($blade-rotation)
				$blade-rotation: $blade-rotation + 40
				$animation-delay: $animation-delay + .11s

@-webkit-keyframes sp-ico-fade
	0%
		background-color: $sp-ico-color
	100%
		background-color: transparent

@keyframes sp-ico-fade
	0%
		background-color: $sp-ico-color
	100%
		background-color: transparent		

$spinner-size: 50px !default

.spinner
	margin: 10px 0
	font-size: $spinner-size
	position: relative
	display: inline-block
	width: 69px
	height: 69px
	.spinner__blade
		position: absolute
		left: .6429em
		bottom: 0
		width: 5px
		height: .2777em
		border-radius: 2.5px/7px
		background-color: transparent
		-webkit-transform-origin: center -.4222em
		transform-origin: center -.4222em
		-webkit-animation: spinner-fade 1s infinite linear
		animation: spinner-fade 1s infinite linear
		+g(#d9d41e, #de9129)

		$animation-delay: 0s
		$blade-rotation: 0deg

		@for $i from 1 through 12
			&:nth-child(#{$i})
				-webkit-animation-delay: $animation-delay
				animation-delay: $animation-delay
				-webkit-transform: rotate($blade-rotation)
				transform: rotate($blade-rotation)
				$blade-rotation: $blade-rotation + 30
				$animation-delay: $animation-delay + .083

@-webkit-keyframes spinner-fade
	0%
		opacity: 1
	100%
		opacity: 0

@keyframes spinner-fade
	0%
		opacity: 1
	100%
		opacity: 0



$spin-color: rgba(#fff, .7) !default
$spin-size: 69px !default

.spin
	margin: 10px 0
	font-size: $spin-size
	position: relative
	display: inline-block
	width: 69px
	height: 69px
	.spin__blade
		position: absolute
		left: .4629em
		bottom: 0
		width: 5px
		height: .2777em
		background-color: transparent
		-webkit-transform-origin: center -.2222em
		transform-origin: center -.2222em
		-webkit-animation: sp-ico-fade 1s infinite linear
		animation: sp-ico-fade 1s infinite linear

		$animation-delay: 0s
		$blade-rotation: 0deg

		@for $i from 1 through 9
			&:nth-child(#{$i})
				-webkit-animation-delay: $animation-delay
				animation-delay: $animation-delay
				-webkit-transform: rotate($blade-rotation)
				transform: rotate($blade-rotation)
				$blade-rotation: $blade-rotation + 40
				$animation-delay: $animation-delay + .11s

@-webkit-keyframes sp-ico-fade
	0%
		background-color: $spin-color
	100%
		background-color: transparent
@keyframes sp-ico-fade
	0%
		background-color: $spin-color
	100%
		background-color: transparent

.popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	overflow-x: scroll
	background: rgba(#fff, .7)
	+vertical
	&.is-dark
		background: rgba($gray, .8)
	.popup__in
		vertical-align: middle
		display: inline-block
		font-size: 14px
		font-weight: bold

// preloader
.preloader
	padding: 9px
	width: 318px
	border: 1px solid #9aa4ad
	+border-radius(2px)
	+box-shadow(0 0 4px 1px rgba(#000, .7))
	background: rgba(#fff, .5)
	&.is-mod
		min-width: 400px
		.preloader__wrap
			padding: 20px
	.preloader__wrap
		padding: 15px 10px 45px
		text-align: center
		background: rgba(#000, .5)
	.preloader__text
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		color: #fff
	.preloader__title
		margin-bottom: 10px
		font-size: 16px
	.sp-ico,
	.spin
		margin: 0 auto 14px
		display: block
// error-p
.error-p
	position: relative
	padding: 25px 6px 6px
	font-weight: bold
	min-width: 520px
	font-size: 14px
	+box-shadow(0 0 5px 2px #000)
	+border-radius(3px)
	+g(#4f4f4f, #b9b9b9)
	.error-p-top
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 0 6px
		height: 17px
		line-height: 17px
		font-size: 12px
		text-align: left
		+box-shadow(inset 0 0 0 1px rgba(#fff, .5))
		+border-radius(3px)
		+g(#fff, #df0909)
	.error-p__wrap
		position: relative
		padding: 18px 0 2px
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			bottom: 0
			+opacity(.5)
			background: url(../img/top-bg.png) no-repeat 50% 50%
			background-size: 100% 100%
	.error-p__text
		position: relative
		padding: 10px 10px 10px 60px
		min-height: 117px
		+text-shadow(1px 1px 4px #000)
	.ico
		position: absolute
		top: 14px
		left: 0
		z-index: 1
	.btn
		height: 27px
		width: 78px
		text-transform: uppercase
		font-weight: normal
		font-size: 12px

// coupon
.coupon
	.coupon__in
		margin: 0 -3px
		overflow-y: auto
		&::-webkit-scrollbar
			display: none
	.coupon__top
		position: relative
		margin: -7px -7px 4px -7px
		padding: 7px 52px
		text-align: center
		font-size: 18px
		letter-spacing: .8px
		font-weight: bold
		border-radius: 8px 8px 0 0
		background: #de9114
		.btn-close-ye
			position: absolute
			top: 2px
			right: 10px
	.coupon__bonus
		padding: 13px 5px
		text-align: center
		font-weight: bold
		background: #cb8e2a
		border: 1px solid #a0a1a2
	.coupon__row
		position: relative
		padding: 9px 62px 4px 4px
		min-height: 47px
		font-size: 11px
		font-weight: bold
		line-height: 1.2
		border: 1px solid #a0a1a2
		+g(#294761, #2f5374)
		&.is-green
			+g(#385d2b, #447d31)
		&.is-gray
			+g(#3b3b3c, #969798)
		&.is-disabled
			font-size: 12px
			background: #494a4c
		&.is-load
			$color: #3e8425
			$transparent: rgba(0, 0, 0, 0)
			background: linear-gradient(-45deg, $transparent 47.9%,  $color 49.9%, $color 70%,  $transparent 53% ), linear-gradient(-45deg, $color 24%, $transparent 17% )
			background-size: 6px 6px
			background-color: #6f9426
		.btn-close-ye
			position: absolute
			top: 5px
			right: 5px
	.coupon__text
		margin-right: -15px
		text-align: center
		line-height: 35px
	.coupon__field
		margin-top: 5px
		line-height: 23px
		+clr
		.checkbox
			float: right
			margin-right: -4px
			width: 23px
	&.is-mod
		width: 232px
		.coupon__top
			overflow: hidden
			text-overflow: ellipsis
	.teams
		text-transform: uppercase
	.calc
		position: absolute
		right: 3px
		left: 3px
		bottom: 2px
	.coefs
		+clr
	.coef-w
		float: right
		font-size: 12px
		&.is-yellow
			color: #e5e61a

// calc
.calc
	font-weight: bold
	background: #7f8285
	.calc__but
		margin: 0 -2px 2px 0
		font-size: 0
		.btn
			margin: 0 !important
			width: auto
			vertical-align: top
			display: inline-block !important
			&:first-child
				width: 142px
		.calc__btn
			margin-left: 2px !important
			padding: 0 5px
			.ico
				vertical-align: middle
	.calc__wrap
		margin: 0 -2px
		border: 2px solid #4c5258
		+border-radius(8px)
		background: #7f8285
	.calc__top
		padding: 5px
		height: 38px
		text-align: center
		border-bottom: 1px solid #4c5258
	.calc__row
		padding: 3px 8px 3px
		border-top: 1px solid #4c5258
	.calc__field
		margin-top: 3px
		+clr
		&:first-child
			margin-top: 0
	.calc__left
		float: left
	.calc__right
		float: right
	.calc__sum
		color: #d18f21
		font-size: 14px
	.calc__inf
		padding: 0 4px
		font-size: 12px
		letter-spacing: -.2px
		+border-radius(4px)
		background: #de9114
		&.is-red
			background: #ff0000
	.checkbox
		margin: 5px 0 2px 15px 
		font-size: 18px
		line-height: 23px

// calculator
.calculator
	padding: 10px
	width: 298px
	text-align: left
	background: #f5f7f8
	.calculator__in
		padding: 5px 25px 12px
		+border-radius(8px)
		background: #000
	.calculator__top
		position: relative
		padding-right: 45px
		min-height: 27px
		+clr
	.calculator__inf
		color: #ff9000
		line-height: 27px
	.calculator__close
		position: absolute
		top: 0
		right: 0
		height: 27px
		line-height: 27px
		text-align: center
		width: 40px
		color: #fff
		font-weight: bold
		font-size: 28px
		+g($dark-gray, $light-gray)
		+border-radius(4px)
		display: inline-block
		&:active
			top: -1px
			+background-image(linear-gradient($dark-gray, $light-gray 70%))
		span
			line-height: 1
			display: inline-block
			vertical-align: middle
	button.calculator__close
		line-height: 1
		span
			position: absolute
			top: 50%
			left: 50%
			+translate(-50%,-50%)
			margin-top: -2px
	.checker
		margin-top: 22px
		width: auto
	.checker__in
		padding: 10px 14px 18px
	.t-keybord
		padding: 0
		display: block
	.t-key
		width: 32%
		height: 46px

// spiner
.spiner
	position: relative
	padding: 0 44px
	.spiner__minus,
	.spiner__input,
	.spiner__plus
		height: 40px
		color: #fff
		text-align: center
		font-size: 28px
		font-weight: bold
		vertical-align: top
		+border-radius(4px)
		+g(#2d2c2c, #a0a0a0)
		display: block
	.spiner__minus,
	.spiner__plus
		position: absolute
		top: 0
		width: 40px
		line-height: 1
		span
			position: relative
			top: -2px
	.spiner__minus
		left: 0
	.spiner__plus
		right: 0
	.spiner__input
		width: 100%
	.spiner__text
		padding-top: 5px
		font-size: 12px
		text-align: center

// checkbox
.checkbox
	position: relative
	min-height: 23px
	cursor: pointer
	font-weight: normal
	+user-select(none)
	display: block
	input
		opacity: 0
		z-index: 1
		&:checked
			& + span:after
				display: block
	input,
	span:before
		position: absolute
		top: 0
		left: 0
		width: 23px
		height: 23px
	span
		position: relative
		padding-left: 30px
		color: #fff
		display: block
		&:before
			content: ''
			border: 2px solid #a7a7a7
			background: #c7c7c7
			+box-shadow(0 1px 2px rgba(#000, .5))
		&:after
			position: absolute
			content: ''
			top: 3px
			left: 4px
			+s(checkbox-arr)
			display: none

// footer
.footer
	margin: -68px auto
	padding: 7px
	font-size: 0
	min-width: 1260px
	max-width: 1680px
	+rh(890)
		margin-top: -63px
	.col-left
		position: relative
		padding: 5px
		text-align: center
		background: $gray
		+border-radius(8px)
	.btn,
	.pages
		margin-left: 10px
		&:first-child
			margin-left: 0
	.pages
		.btn
			margin: 0
		.pages__text
			width: 84px


// slide
.slide
	overflow: hidden
	.score
		.ico
			position: absolute
			top: 50%
			left: 4px
			+translate(0,-50%)
	&.is-tennis
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding: 5px 20px 5px 5px
		.bets
			padding-left: 5px
			height: 100%
			background: #3c3e3f
		.bet
			padding: 0
			background: none
			+box-shadow(none)
		.bet__left
			padding: 6px
			+border-radius(8px)
			+g(#163957, #163957)
		.bet__right
			width: 330px
		.bet__time
			float: left
			width: 115px
			font-size: 11px
		.team
			width: auto
			height: auto
			line-height: 30px
			padding-left: 2px
			display: inline-block
			&:first-child
				padding-right: 2px
		.score
			position: relative
			left: auto
			width: 6px
			height: auto
			line-height: 28px
			color: #fff
			+translate(0,0)
			+box-shadow(none)
			background: none
			display: inline-block
		.bet__more
			margin-left: 3px
		.ground
			margin-left: -5px
			padding-left: 5px
			background: #4c5258
		.ground__item
			line-height: 18px
			&:first-child
				padding-left: 0
				width: 120px
			&:nth-child(2)
				padding-left: 0
				width: 515px
			&:nth-child(4)
				width: 100px
				.ground__ind:first-child
					color: #de9114
			.ground__ind
				line-height: 18px
		.points,
		.allowance
			+clr
			.coef
				&:last-child
					float: right
	&.is-mod
		.bet__right
			width: 377px
		.ground 
			.ground__item
				&:nth-child(2)
					padding-left: 205px
					width: 534px
		.points
			+clr
			.coef
				float: left
				&:last-child
					float: right
		.score
			&.is-right
				.ico
					left: auto
					right: 4px
			.ico
				position: absolute
				top: 50%
				left: 4px
				+translate(0,-50%)

// header-m
.header-m
	position: relative
	padding-left: 100px
	+clr
	.logo-small
		position: absolute
		top: 50%
		left: 0
		+translate(0,-50%)

.inf
	float: left
	padding: 13px 13px 0 25px
	font-weight: bold
	font-size: 14px
	text-transform: uppercase
	.pag,
	.time
		vertical-align: top
		display: inline-block
	.pag
		margin-right: 22px

// ticker
.ticker
	padding: 0 16px
	height: 40px
	text-align: center
	line-height: 40px
	font-weight: bold
	font-size: 30px
	overflow: hidden
	background: #707070
	+border-radius(5px)
	.ticker__text
		white-space: nowrap

// rates
.rates
	font-weight: bold
	&.is-tennis
		.logo-small
			margin-left: -52px
		& > table
			&:first-child
				tr
					td
						&:nth-child(5)
							text-align: left
						&:nth-child(6)
							padding-right: 2px
							text-align: right
							width: 180px
							span
								margin-top: 18px
								vertical-align: top
								display: inline-block
		.rate
			tr
				&:first-child
					td
						&:nth-child(5)
							text-align: left
				td
					&:nth-child(3)
						color: #fff
					&:nth-child(5)
						padding-right: 5px
						width: 518px
						color: #fff
					&:last-child,
					&:nth-last-child(2),
					&:nth-last-child(3)
						&:before
							display: none
	&.is-mod
		& > table
			&:first-child
				tr
					td
						&:nth-child(5)
							width: 475px
		.rate
			tr
				td
					&:nth-child(5)
						width: 470px
					&:last-child,
					&:nth-last-child(2),
					&:nth-last-child(3)
						&:before
							display: none

	.rates__wrap
		+box-shadow(0 1px 5px #000, 0 -1px 5px #000)
	& > table
		&:first-child
			tr
				td
					vertical-align: top
					&:first-child
						padding-left: 2px
						width: 39px
					&:nth-child(2)
						padding-left: 5px
						width: 65px
						font-size: 16px
						span
							margin-top: 8px
							vertical-align: top
							display: inline-block
					&:nth-child(3)
						width: 355px
					&:nth-child(4)
						width: 68px
					&:nth-child(5)
						width: 344px
						text-align: center
				table
					td
						padding: 0 !important
						width: 45px !important
						max-width: 45px
						font-size: 13px !important
			.is-bottom
				margin-top: 18px
				line-height: 1
				vertical-align: bottom
				display: inline-block
		.logo-small
			margin-top: 5px
		.ico
			vertical-align: top

// indicators
.indicators
	text-align: center
	color: #de9114
	text-transform: uppercase
	.is-white
		color: #fff
	tr
		&:first-child
			color: #fff

// rates
.rate
	font-size: 14px
	& + .rate
		border-top: 1px solid #fff
	table
		+g(#285516, #34761b)
		&.is-yellow	
			+g(#87782f, #a2955a)
			tr
				+ tr
					+g(#87782f, #a2955a)
		&.is-blue
			+g(#14334e, #285276)
			tr
				+ tr
					+g(#14334e, #285276)
		& + table
			border-top: 1px solid #fff
	tr
		+ tr
			+g(#285516, #34761b)
		&:first-child
			text-transform: uppercase
		td
			padding: 1px 0
			line-height: 23px
			vertical-align: top
			&:first-child
				padding-left: 5px
				width: 39px
			&:nth-child(2)
				width: 65px
			&:nth-child(3)
				padding-right: 5px
				width: 355px
				text-align: right
			&:nth-child(4)
				width: 68px
			&:nth-child(5)
				padding-left: 5px
				width: 344px
			&:last-child,
			&:nth-last-child(2),
			&:nth-last-child(3),
			&:nth-last-child(4),
			&:nth-last-child(5),
			&:nth-last-child(6),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8)
				min-width: 45px
				text-align: center
			&:last-child,
			&:nth-last-child(2),
			&:nth-last-child(3),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8)
				position: relative
				&:before
					position: absolute
					content: ''
					top: 0
					left: 0
					right: 0
					bottom: 0
					background: rgba(#000, .3)
			&.is-goal
				position: relative
				&:before
					position: absolute
					content: ''
					top: 0
					left: 0
					right: 0
					bottom: 0
					+border-radius(4px)
					background: rgba(#000, .1)
				& + .is-goal
					.goal
						left: auto
						right: 10px
			.goal
				position: absolute
				top: 1px
				left: 5px
				color: #fdff00
				+opacity(.1)
		&:nth-child(2)
			td
				&:nth-child(3)
					text-align: left
				&:nth-child(5)
					padding-right: 5px
					text-align: right
				&:nth-child(5),
				&:last-child,
				&:nth-last-child(2),
				&:nth-last-child(3),
				&:nth-last-child(4),
				&:nth-last-child(5),
				&:nth-last-child(6),
				&:nth-last-child(7),
				&:nth-last-child(8),
				&:nth-last-child(9)
					color: #fdff00
					a
						color: #fdff00
	a
		text-decoration: none
		color: #fff
	.team,
	.score
		position: relative
		z-index: 1
	.time-m
		vertical-align: top
		display: inline-block
		&:after
			content: "'"
			margin-left: 1px
	.score
		height: 23px
		line-height: 23px
		font-size: 15px
		background: #f59200
	.team
		vertical-align: top
		display: inline-block
		+clr
		&.is-maxw
			max-width: 100px
		.team__overf
			margin-right: 6px
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
		.card
			float: right
	.coef-m 
		position: relative
		z-index: 1
	.score-w
		float: right

// coef-m
.coef-m 
	position: relative
	&.is-blocked
		font-size: 0
		+opacity(0.5)
		vertical-align: top
		cursor: default
		+s(images-lock2-small)
		display: inline-block
	&.is-up,
	&.is-down
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			+opacity(0.3)
			+translate(-50%,-50%)
	&.is-up
		&:before
			+arr(35,22,#fff,t)
	&.is-down
		&:before
			+arr(35,22,#fff,b)

// card
.card
	position: relative
	margin-left: 5px
	height: 23px
	width: 18px
	text-align: center
	display: inline-block
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		height: 23px
		width: 18px
		+rotate(5)
	&.is-red
		&:before
			background: #ff1414
	&.is-yellow
		&:before
			background: #f1ce00
	&.is-red-yellow
		&:before
			background-image: -webkit-linear-gradient(30deg, #f00 47%, #f1ce00 50%)
			background-image: -o-linear-gradient(30deg, #f00 47%, #f1ce00 50%)
			background-image: linear-gradient(120deg, #f00 47%, #f1ce00 50%)	
	span
		position: relative
		z-index: 1

// transactio
.transaction
	padding: 30px 65px 30px 50px

// line-wr
.line-wr
	position: relative
	padding: 14px 5px 5px
	color: #000
	border: 1px solid #a9a9a9
	+border-radius(3px)
	.line-wr__title
		position: absolute
		top: -9px
		left: 4px
		padding: 0 4px
		line-height: 1
		color: #000
		background: #7f8285
		display: inline-block
	.line-wr__text
		margin-bottom: 10px
		padding-left: 10px
		color: #fff
	.table
		td
			&:before
				position: absolute
				content: ''
				top: 5px
				right: -1px
				bottom: 5px
				width: 1px
				background: rgba(#fff, .5)
			&:first-child
				&:before
					top: 0
					left: 0
					right: 0
					bottom: 0
					width: auto
			&:last-child
				&:before
					right: 0

// table
.table
	color: #000
	border: 1px solid #bababa
	&.table_wr
		td
			&:nth-child(2)
				padding: 0
				width: 41px
			&:before
				position: absolute
				content: ''
				top: 5px
				right: -1px
				bottom: 5px
				width: 1px
				background: rgba(#fff, .5)
			&:first-child
				&:before
					top: 0
					left: 0
					right: 0
					bottom: 0
					width: auto
			&:last-child
				&:before
					right: 0
			&.is-active
				position: relative
				&:after
					position: absolute
					content: ''
					top: 50%
					left: 7px
					+translate(0,-50%)
					+arr(6,10,#717171,r)
	tr
		&:nth-child(even)
			background: #ccc
	th
		padding: 20px 8px 10px
		text-align: left
		border-bottom: 1px solid #bababa
		border-left: 1px solid #bababa
		+g(#c8c8c8, #838689)
		&:first-child
			border-left: none
	td
		position: relative
		padding: 0 5px
		height: 35px
		line-height: 35px
		span
			line-height: 1.4
			vertical-align: middle
			display: inline-block
	
// tickets
.tickets
	padding-right: 18px
	.tickets__in
		height: 775px
		width: 100%
	.tickets__wrap
		width: 602px
		margin: 0 auto
		td
			&:last-child
				&:before
					display: none
	.tickets__top
		margin-top: 5px
	.tickets__all
		margin-bottom: 10px
	.tickets__top,
	.tickets__all
		.btn
			float: right
			margin-left: 5px
			width: 180px
	.tickets__row
		margin: 10px 0
		line-height: 25px
		+clr
		&:first-child
			margin-top: 0
	.tickets__col
		float: left
		text-align: right
		width: 50%
	.tickets__table	
		margin: 8px 0
		width: 100%
		td
			padding-left: 15px
			height: 30px
			line-height: 30px
			&:last-child
				width: 105px
			&:nth-child(odd)
				font-weight: bold
	.tickets__status
		font-weight: bold
		&.is-red
			color: #ff0000
		&.is-yellow
			color: #ffff00
	.tickets__all
		+clr
		.tickets__text
			float: left
			width: 410px
			font-weight: bold
			font-size: 14px
			line-height: 25px
	.datepicker,
	.input-white
		float: right
		margin-left: 5px
		width: 180px
	.table
		margin-left: 5px
		&.is-mod
			min-width: 1060px
			tr
				background: #fff
				&:nth-child(even)
					background: #ccc
		td
			&:first-child
				padding: 0
		.btn
			padding: 0
			font-size: 12px
			vertical-align: middle
	.status
		width: 100%
		text-transform: initial
		border: 1px solid #bebebe
	.checkbox
		display: inline-block
		span
			padding: 0 25px 0 0
			&:after
				top: 9px
				right: 4px
				left: auto
				+sr(checkbox-arr)
		span:before,
		input
			position: absolute
			content: ''
			top: 50%
			+translate(0,-50%)
			left: auto
			right: 0
			width: 16px
			height: 16px

.datepicker
	position: relative
	padding-right: 23px
	.ico
		position: absolute
		right: 1px
		top: 50%
		cursor: pointer
		+translate(0,-50%)
	input
		padding: 0 5px
		border: 1px solid #a7a7a7
		height: 25px
		width: 100%
		color: #000
		display: block

// sets
.sets
	margin: 0 -30px
	text-align: center

// filter
.filter
	padding: 8px 10px 10px 2px
	font-weight: normal
	background: #444341
	+clr
	.filter__name
		margin-top: -4px
	.filter__in
		float: right
	.filter__col
		margin-right: 2vw
		+border-radius(4px)
	.filter__text
		margin-right: 5px
		min-height: 42px
		line-height: 42px
		span
			line-height: 1.2
			vertical-align: middle
			display: inline-block
	.select
		width: 6.8vw
		color: #000
		&.select_w242
			width: 19.17vw
	.select__list
		margin: 5px 0 0
		left: 0
		right: 0
		bottom: auto
		width: auto
		+border-radius(0)
		a
			color: #000
			text-decoration: none
			display: block
	.select__text
		padding: 14px 8px 10px
		height: 42px
		+border-radius(0)
		+box-shadow(0 0 0 1px rgba(#fff, .2))
		+g(#c1c1c1, #434240)
		&:before
			right: 5px
			margin-top: -2px
	.filter__name,
	.select,
	.filter__col,
	.filter__text
		vertical-align: top
		display: inline-block
	.btn
		min-width: 9vw
		height: 42px
		line-height: 42px

// res
.res
	color: #fff
	font-weight: bold
	&.is-mod
		.res__col
			min-height: 52px
			line-height: 52px
			font-size: 18px
		a.res__col
			&:active
				.res__more
					opacity: .8
		.res-all
			line-height: 1.2
			vertical-align: middle
			display: inline-block
		.teams
			line-height: 1.2
			vertical-align: middle
			display: inline-block
	.res__in
	.res__row
		font-size: 0
		margin-bottom: .5%
	.res__col
		position: relative
		padding: 2px 10px
		margin-left: 0.5%
		font-size: 14px
		border: 1px solid #fff
		+border-radius(4px)
		background: #444341
		&:first-child
			margin-left: 0
			width: 15%
			text-align: center
		&:nth-child(2)
			padding-left: 42px
			width: 61%
		&:last-child
			width: 23%
	.res__more
		position: absolute
		top: 3px
		right: 3px
		bottom: 3px
		width: 24px
		border-radius: 4px
		background-color: #7f8386
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)
		.ico
			left: 3px
	.date,
	.time,
	.res__col,
	.team
		vertical-align: top
		display: inline-block
	.ico
		position: absolute
		left: 12px
		top: 50%
		+translate(0,-50%)
	.teams
		text-transform: uppercase
	.team
		&:first-child
			margin-right: 3px

// res-all
.res-all
	color: #70f077
	.res-all__bot
		text-transform: uppercase
	&.is-yellow
		color: #fffb07

// res-stat
.res-stat
	min-width: 953px
	font-size: 18px
	background-color: #7f8386
	border: 1px solid rgba(255, 255, 255, 0.5)
	border-radius: 7px
	box-shadow: 2.5px 4.3px 35px rgba(0, 0, 0, 0.75)
	&__top
		text-align: left
		border-radius: 7px 7px 0 0
		background: #43413f
		td
			padding: 0 0 0 12px
			height: 83px
			line-height: 83px
			font-size: 18px
			+box
			vertical-align: top
	&__in
		overflow: hidden
	.res-all
		line-height: 1.2
		vertical-align: middle
		display: inline-block
	.teams
		text-transform: uppercase
		vertical-align: middle
		display: inline-block
	.team
		vertical-align: top
		display: inline-block
		&:first-child
			margin-right: 3px
	.ico
		margin-right: 12px
		vertical-align: middle
	.date,
	.time
		display: inline-block
	.time
		margin-left: 5px

// invoice
.invoice
	padding: 12px
	color: #000
	font-size: 16px
	.invoice__l
		padding: 20px
		+border-radius(8px)
		background: #c8cac9
	.invoice__top
		margin-bottom: 20px
	.invoice__in
		padding: 20px 10px
		background: #d8dad9
	.invoice__wrap
		+clr
	.invoice__left
		float: left
		margin-right: 15px
		padding-top: 60px
		width: 258px
		.btn
			width: 100%
			height: 34px
			line-height: 34px
			font-size: 16px
			font-weight: normal
	.invoice__table
		overflow: hidden
	.invoice__row
		padding: 0 14px
		border-top: 2px solid #000
	.invoice__field
		padding: 17px 0
		+clr
		&.is-bold
			font-weight: bold
		&.is-green
			font-weight: bold
			color: $green
	.invoice__col
		float: left
		width: calc(100% - 52px)
		&:last-child
			float: right
			width: 52px
	.invoice__bot
		margin-top: 25px
		font-size: 0
		.btn
			margin-left: 3%
			width: 17.6%
			height: 75px
			line-height: 75px
			font-weight: normal
			font-size: 16px
			&:first-child
				margin-left: 0

// buttons
.buttons
	padding: 17px
	.buttons__row
		margin-top: 20px
		&:first-child
			margin-top: 0
	.btn
		width: 100%
		height: 40px
		line-height: 40px
		font-size: 16px

.h100
	height: 100%

// mdark
.mdark
	&.is-big
		padding-right: 15px
		width: 187px !important
		font-size: 13px !important
		span
			line-height: 1.2
			vertical-align: middle
			display: inline-block






