// default layout
.l
	margin-left: 4px
	width: 1242px
	height: 754px
	display: table
	.col-left,
	.col-right
		float: none
		background: $gray
		vertical-align: top
		display: table-cell
	.col-left
		position: relative
		right: 4px
		&.is-live
			background: #bfc1c2
			+vertical
			.info-text
				font-size: 20px
				color: #595b5c
				vertical-align: middle
				display: inline-block
	.col-right
		position: relative
		padding: 7px
		+border-radius(8px)
		+box
		.btn
			margin: 10px 0
			display: block
			&:first-child
				margin-top: 0

	